# Db Settings
DB_HOST=db # change for "localhost" if docker is not needed
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=some-name
DB_POSTGRES=postgres

# App Settings
FAST_API_DEBUG=True
ENGINE_DEBUG=True
DB_MODELS_UPGRADE=True
APP_BASE_URL=http://localhost:8000
LOG_LEVEL=INFO 
SSL_CERT_PATH=./localhost.pem

#
SECRET_KEY_FOR_JWT_AUTH=super-secret-key

# Email sender
EMAIL_VERIFICATION_SECRET=super-secret-key
EMAIL_VERIFICATION_TOKEN_EXPIRE_HOURS=24

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=example@gmail.com
SMTP_PASSWORD=your-password
SMTP_FROM=example@gmail.com
