DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASS=password
DB_NAME=name
DB_POSTGRES=postgres

FAST_API_DEBUG=True
ENGINE_DEBUG=True
DB_MODELS_UPGRADE=True
LOG_LEVEL=info

SECRET_KEY=your-super-secret-key-change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30